<launch>
  <!-- *** Arguments *** -->
  <!-- Map to use argument -->
  <arg name="move_forward_only" default="false"/>
  <arg name="open_rviz" default="true"/>

    <!-- Robot URDF definition -->
    <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find minirover)/urdf/minirover.urdf'"/>
    <param name="robot_description" command="$(arg urdf_file) 
                  distance:=true
                  pi_camera:=true
                  lds:=true
                  imu:=true "/>
  
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="False"/>
  </node>

  <!-- Map server -->
  <arg name="map_file" default="map.yaml"/>
  
  <!-- More arguments -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
  
  <include file="$(find minirover)/launch/_mr_amcl.launch"/>

  <!-- move_base -->
  <include file="$(find minirover)/launch/_mr_move_base.launch">
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find minirover)/rviz/navigation.rviz"/>
  </group>
</launch>
