<launch>

    <include file="$(find minirover)/launch/_mr_move_base.launch"/>

    <include file="$(find minirover)/launch/mr_description_no_rviz.launch"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find minirover)/rviz/navigation.rviz" />

    <include file="$(find minirover)/launch/_mr_amclexperimental.launch"/>

</launch>