<launch>
    <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <arg name="vis_msgs" value="true" />
        <arg name="fiducial_len" value="0.05" />
        <arg name="dictionary" value="4"/>
    </include>
    <!-- <include file="$(find bullet)/launch/camera_only.launch" /> -->
</launch>