<launch>
    <include file="$(find aruco_detect)/launch/aruco_detect.launch">
        <arg name="vis_msgs" value="false" />
        <arg name="fiducial_len" value="0.05" />
        <arg name="dictionary" value="16"/>
    </include>
    <!-- <include file="$(find bullet)/launch/camera_only.launch" /> -->
</launch>