<launch>

  <include file="$(find minirover)/launch/gopigo3.launch" />
  <group if="$(arg lidar)">
      <include file="$(find minirover)/launch/mr_lidar_only.launch" />
  </group>
  <group if="$(arg camera)">
    <include file="$(find minirover)/launch/mr_camera_only.launch" />
  </group>

</launch>